/** Base colors */
$clr-dark-a0: #000000;
$clr-light-a0: #ffffff;

/** Theme primary colors */
$clr-primary-a0: #67e6c2;
$clr-primary-a10: #7be9c8;
$clr-primary-a20: #8decce;
$clr-primary-a30: #9deed4;
$clr-primary-a40: #adf1da;
$clr-primary-a50: #bbf3e0;

/** Theme surface colors */
$clr-surface-a0: #121212;
$clr-surface-a10: #252525;
$clr-surface-a20: #393939;
$clr-surface-a30: #4f4f4f;
$clr-surface-a40: #666;
$clr-surface-a50: #7d7d7d;

/** Theme tonal surface colors */
$clr-surface-tonal-a0: #1b2320;
$clr-surface-tonal-a10: #2e3533;
$clr-surface-tonal-a20: #424946;
$clr-surface-tonal-a30: #575d5b;
$clr-surface-tonal-a40: #6d7370;
$clr-surface-tonal-a50: #848887;

/** Success colors */
$clr-success-a0: #1b7f5c;
$clr-success-a10: #54987a;
$clr-success-a20: #80b19a;

/** Warning colors */
$clr-warning-a0: #b8871f;
$clr-warning-a10: #c79f58;
$clr-warning-a20: #d5b784;

/** Danger colors */
$clr-danger-a0: #b13535;
$clr-danger-a10: #c5615c;
$clr-danger-a20: #d78983;

/** Info colors */
$clr-info-a0: #1e56a3;
$clr-info-a10: #4c78b7;
$clr-info-a20: #7799ca;
