/** Base colors */
$clr-dark-a0: #000000;
$clr-light-a0: #ffffff;

/** Theme primary colors */
$clr-primary-a0: #afd5ff;
$clr-primary-a10: #b8daff;
$clr-primary-a20: #c2deff;
$clr-primary-a30: #cbe3ff;
$clr-primary-a40: #d4e7ff;
$clr-primary-a50: #ddecff;

/** Theme surface colors */
$clr-surface-a0: #00061c;
$clr-surface-a10: #1c2131;
$clr-surface-a20: #343847;
$clr-surface-a30: #111113;
$clr-surface-a40: #696b77;
$clr-surface-a50: #858791;

/** Theme tonal surface colors */
$clr-surface-tonal-a0: #131c2e;
$clr-surface-tonal-a10: #2a3142;
$clr-surface-tonal-a20: #414757;
$clr-surface-tonal-a30: #595f6d;
$clr-surface-tonal-a40: #737784;
$clr-surface-tonal-a50: #8d919b;

/** Success colors */
$clr-success-a0: #009f42;
$clr-success-a10: #167533;
$clr-success-a20: #184d25;
$clr-success-a30: #132916;

/** Warning colors */
$clr-warning-a0: #f0ad4e;
$clr-warning-a10: #af7f3c;
$clr-warning-a20: #71532a;
$clr-warning-a30: #392b19;

/** Danger colors */
$clr-danger-a0: #b41c2b;
$clr-danger-a10: #851d22;
$clr-danger-a20: #581919;
$clr-danger-a30: #2f1310;

/** Info colors */
$clr-info-a0: #83b8fd;
$clr-info-a10: #3267b5;
$clr-info-a20: #284475;
$clr-info-a30: #1a253b;
